/* Modal Styles */
#summarization-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}

textarea {
  width: 95%;
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  resize: vertical; /* Allow only vertical resizing */
}

.button-container {
  display: flex;
  gap: 10px;
}

button {
  background-color: #FF9800;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #FB8C00;
}

/* Dark Mode Styles for Modal */
body.dark-mode #summarization-modal {
  background-color: #333;
  color: #f4f4f4;
}

body.dark-mode h1, body.dark-mode p {
  color: #f4f4f4;
}

body.dark-mode textarea {
  background-color: #555;
  color: #f4f4f4;
  border: 1px solid #666;
}

body.dark-mode button {
  background-color: #555;
  color: #f4f4f4;
}

body.dark-mode button:hover {
  background-color: #666;
}

/* Responsive Design for Modal */
@media (max-width: 768px) {
  #summarization-modal {
    width: 95%;
    height: 95%;
    padding: 15px;
  }

  h1 {
    font-size: 20px;
  }

  textarea {
    font-size: 14px;
  }

  button {
    padding: 15px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  #summarization-modal {
    width: 95%;
    height: 95%;
    padding: 10px;
  }

  h1 {
    font-size: 18px;
  }

  textarea {
    font-size: 12px;
  }

  button {
    padding: 10px;
    font-size: 14px;
  }
}