/* Default (light mode) styles */
body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

h1 {
  text-align: center;
}

button,
label.custom-file-input {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

button:hover,
label.custom-file-input:hover {
  background-color: #0056b3;
}

pre {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: auto;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

button.dark-mode,
label.custom-file-input.dark-mode {
  background-color: #444444;
  color: white;
}

pre.dark-mode {
  background-color: #333333;
  color: #ffffff;
  border-color: #444444;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #007bff;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

input[type="text"] {
  width: 90%;
  padding: 5px;
}

th {
  cursor: pointer;
}

th.asc::after {
  content: " ▲";
}

th.desc::after {
  content: " ▼";
}

/* Table styles for dark mode */
body.dark-mode table {
  border-color: #444444;
}

body.dark-mode table th {
  background-color: #333333;
  color: #ffffff;
}

body.dark-mode table td {
  background-color: #222222;
  color: #ffffff;
}

body.dark-mode table tr:nth-child(even) {
  background-color: #1a1a1a;
}

body.dark-mode table tr:hover {
  background-color: #333333;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
}

body.dark-mode .modal-content {
  background-color: #222222;
  color: #ffffff;
  border-color: #444444;
}

.close-button {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#modalSummaryInput {
  width: 100%;
  height: 200px;
}

#saveSummaryButton {
  margin-top: 10px;
}
